3명 이상 친구 이름 리스트를 작성하고 다음 내용을 프로그램하시오.
insert()로 맨 앞에 새로운 친구 추가
insert()로 3번째 위치에 새로운 친구 추가
append()로 마지막에 친구 추가

In [4]:
friends = ["영희", "철수", "민수"] 
print("원래 리스트:", friends)

friends.insert(0, "지수")
print("맨 앞에 추가:", friends)

friends.insert(2, "수빈")
print("3번째 위치에 추가:", friends)

friends.append("현우")
print("마지막에 추가:", friends)

원래 리스트: ['영희', '철수', '민수']
맨 앞에 추가: ['지수', '영희', '철수', '민수']
3번째 위치에 추가: ['지수', '영희', '수빈', '철수', '민수']
마지막에 추가: ['지수', '영희', '수빈', '철수', '민수', '현우']

리스트[1, 2, 3]에 대해 다음 같은 처리를 하라
두 번째 요소를 17로 수정
리스트에 4, 5, 6을 추가
첫 번째 요소 제거
리스트를 요소 순서대로 배열하기
인덱스 3에 25 넣기

In [5]:
L = [1, 2, 3]
print("\n원래 리스트:", L)

L[1] = 17
print("두 번째 요소 17로 수정:", L)

L.extend([4, 5, 6])
print("4,5,6 추가:", L)

L.pop(0)
print("첫 번째 요소 제거:", L)

L.sort()
print("정렬된 리스트:", L)

L.insert(3, 25)
print("인덱스 3에 25 넣기:", L)

원래 리스트: [1, 2, 3]
두 번째 요소 17로 수정: [1, 17, 3]
4,5,6 추가: [1, 17, 3, 4, 5, 6]
첫 번째 요소 제거: [17, 3, 4, 5, 6]
정렬된 리스트: [3, 4, 5, 6, 17]
인덱스 3에 25 넣기: [3, 4, 5, 25, 6, 17]

for 루프를 이용하여 다음과 같은 리스트를 생성하라.
0~49까지의 수로 구성되는 리스트
1~50까지 수의 제곱으로 구성되는 리스트

In [1]:
list1 = []
for i in range(50):
    list1.append(i)
print("0~49 리스트:", list1)

list2 = []
for i in range(1, 51):
    list2.append(i ** 2)
print("1~50 제곱 리스트:", list2)

0~49 리스트: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
1~50 제곱 리스트: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]

크기가 같은 두 개의 리스트 L, M을 생성하고, 두 리스트의 각 요소 합으로 구성되는 새로운 리스트를 생성하라.

In [2]:
L = [1, 2, 3]
M = [4, 5, 6]

result = []
for i in range(len(L)):
    result.append(L[i] + M[i])

print("결과 리스트:", result)

결과 리스트: [5, 7, 9]

사용자로부터 5개의 숫자를 문자열로 입력받아 각 숫자를 +로 연결한 문자열을 생성하라.
예를 들어 2, 5, 11, 33, 55를 입력하면 '2+5+11+33+55'를 생성하라.

In [3]:
numbers = input("숫자 5개를 콤마로 구분하여 입력하세요: ")

num_list = numbers.split(",")

result = "+".join(num_list)

print("결과 문자열:", result)

결과 문자열: 1+6+8+9+10

다음 딕셔너리에 대해 물음에 답하라.
days = {'January': 31, 'February': 28, 'March': 31, 'April': 30,
'May': 31, 'June': 30, 'July': 31, 'August': 31,
'September': 30, 'October': 31, 'November': 30, 'December': 31}
사용자가 월을 입력하면 해당 월의 일수를 출력하라.
알파벳 순서로 모든 월을 출력하라.
일수가 31인 월을 모두 출력하라.
월의 일수를 기준으로 오름차순으로 (key-value) 쌍을 출력하라.
사용자가 월을 3자리만 입력하면 월의 일수를 출력하라. (Jan, Feb 등)

In [8]:
days = {
    'January': 31, 'February': 28, 'March': 31, 'April': 30,
    'May': 31, 'June': 30, 'July': 31, 'August': 31,
    'September': 30, 'October': 31, 'November': 30, 'December': 31
}

month = input("월 이름을 입력하세요 (예: March): ")
if month in days:
    print(f"{month}은 {days[month]}일입니다.")
else:
    print("잘못된 월입니다.")

print("\n알파벳 순서 월 목록:")
for m in sorted(days.keys()):
    print(m)

print("\n31일인 월:")
for m, d in days.items():
    if d == 31:
        print(m)

print("\n일수 기준 오름차순 정렬:")
for m, d in sorted(days.items(), key=lambda x: x[1]):
    print(m, ":", d)

short = input("\n월의 앞 3글자를 입력하세요 (예: Jan, Feb): ")
found = False
for m in days:
    if m.startswith(short):
        print(f"{m}은 {days[m]}일입니다.")
        found = True
        break
if not found:
    print("해당 월을 찾을 수 없습니다.")

March은 31일입니다.

알파벳 순서 월 목록:
April
August
December
February
January
July
June
March
May
November
October
September

31일인 월:
January
March
May
July
August
October
December

일수 기준 오름차순 정렬:
February : 28
April : 30
June : 30
September : 30
November : 30
January : 31
March : 31
May : 31
July : 31
August : 31
October : 31
December : 31
March은 31일입니다.